.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: linear-gradient(to right, #110E28, #030107);
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

.nav-item {
    margin-bottom: var(--mb4);
}

.nav-link {
    position: relative;
    color: var(--second-color);
}

.nav-link:hover {
    position: relative;
}

.nav-link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav-logo {
    color: var(--second-color);
}

.nav-toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.lang-selector-item {
  margin-left: 2rem;
  margin-right: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-list .lang-selector-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(to right, #110E28, #030107);
        transition: .5s;
    }

    .nav-menu.show {
        right: 0;
    }

    .nav-link {
        color: #ffffff;
    }
}

@media screen and (min-width: 769px) {
    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-list {
        display: flex;
        padding-top: 0;
    }

    .nav-item {
        margin-left: var(--mb6);
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }
}
