.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home-data {
    align-self: center;
}

.home-title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb5);
}

.home-title-color {
    color: var(--first-color);
}

.home-social {
    display: flex;
    flex-direction: column;
}

.home-social-icon {
    width: max-content;
    margin-bottom: var(--mb4);
    font-size: 1.6rem;
    color: var(--second-color);
    transition: .3s;
}

.home-social-icon:hover {
  color: var(--first-color);
  transform: translateY(-5px); 
}

.home-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

.home-img img {
    width: 295px;
    height: 295px;
    border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .home {
      height: 100vh;
  }

  .home-data {
      align-self: flex-end;
  }

  .home-social {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: var(--mb7);
  }

  .home-social-icon {
       margin-bottom: 0;
       margin-right: var(--mb4);
  }

  .home-img {
       width: 457px;
       height: 475px;
       bottom: 15%;
  }
}

@media screen and (min-width: 1024px) {
   .home-img {
       right: 10%;
  }
}